<div id="banner_logo" class="small-8 small-centered columns">
  <div id="banner_info">
    <h1>You've got — <span>BIG</span> goals!</h1>
    <p>Whether you’re ready to conquer Mt. Everest, find Nirvana, or finally swap fast foods for whole foods,
      OnlyChai is your new secret weapon in the battle for better health.</p>
    </div>
    <%= image_tag("only_chai_logo.png") %>
    <% if !current_user %>
      <div id="session_btns">
        <ul>
          <li><a href="/signin" class="button large radius">Login</a></li>
          <li><a href="/signup" class="button large radius success">Signup</a></li>
        </ul>
      </div>
    <% end %>
</div>